---
import { ChevronDown } from "@lucide/astro"

const { name } = Astro.props
---

<div class="dropdown">
    <button class="dropdown-button">
        <span>{ name }</span>
        <ChevronDown size={16} class="transition-transform duration-200 group-hover:rotate-180"/>
    </button>
    <ul class="dropdown-menu">
        <slot></slot>
    </ul>
</div>
