<footer>
    <div class="wrapper flex flex-col gap-8">
        <div class="footer-main">
            <div class="footer-logo">
                <h2 class="text-xl font-semibold mb-3">Logo</h2>
                <p class="text-base">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div>
                <h3 class="font-semibold mb-3">Product</h3>
                <div class="flex flex-col gap-3 text-base text-gray-700">
                    <a href="#">Overview</a>
                    <a href="#">Pricing</a>
                    <a href="#">Marketplace</a>
                    <a href="#">Features</a>
                    <a href="#">Integrations</a>
                </div>
            </div>

            <div>
                <h3 class="font-semibold mb-3">Product</h3>
                <div class="flex flex-col gap-3 text-base text-gray-700">
                    <a href="#">Overview</a>
                    <a href="#">Pricing</a>
                    <a href="#">Marketplace</a>
                    <a href="#">Features</a>
                    <a href="#">Integrations</a>
                </div>
            </div>

            <div>
                <h3 class="font-semibold mb-3">Product</h3>
                <div class="flex flex-col gap-3 text-base text-gray-700">
                    <a href="#">Overview</a>
                    <a href="#">Pricing</a>
                    <a href="#">Marketplace</a>
                    <a href="#">Features</a>
                    <a href="#">Integrations</a>
                </div>
            </div>

            <div>
                <h3 class="font-semibold mb-3">Product</h3>
                <div class="flex flex-col gap-3 text-base text-gray-700">
                    <a href="#">Overview</a>
                    <a href="#">Pricing</a>
                    <a href="#">Marketplace</a>
                    <a href="#">Features</a>
                    <a href="#">Integrations</a>
                </div>
            </div>
        </div>
        <hr class="text-gray-300">
        <div class="flex flex-col gap-4 items-center text-center sm:flex-row sm:justify-between sm:text-left">
            <p>© 2024 Shadcnblocks.com. All rights reserved</p>
            <div class="flex gap-4 flex-wrap">
                <a href="#" class="text-sm text-gray-600 font-semibold">Terms and conditions</a>
                <a href="#" class="text-sm text-gray-600 font-semibold">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

<style>
    .footer-main {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(140px, 100%), 1fr));
    }

    .footer-logo {
        grid-column: span 2;
    }
</style>