---
import { CircleX } from "@lucide/astro"
---

<section class="bg-gray-950 mt-0">
    <div class="wrapper py-3 flex gap-5 items-center justify-center text-white">
        <p class="text-white text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, harum?</p>
        <CircleX class="min-w-8"/>
    </div>
</section>
