---
import { CircleX } from "@lucide/astro"
---

<section class="bg-gray-950 text-white">
    <div class="wrapper py-3 flex gap-5 items-center justify-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, harum?</p>
        <CircleX />
    </div>
</section>
