<section>
    <div class="wrapper">
        <div class="flex bg-gray-200 rounded-xl">
            <img src="" alt="">
            <div class="flex flex-col items-start gap-4 p-10">
                <h2 class="text-4xl font-bold">Call to Action</h2>
                <p class="text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quos suscipit? Nulla similique ipsa, culpa excepturi ipsam temporibus?
                </p>
                <a href="#" class="btn-primary">Get Started</a>
            </div>
        </div>
    </div>
</section>