---
import Google from "../assets/icons/Google.astro";
---

<section>
    <div class="wrapper">
        <h2 class="text-3xl md:text-6xl text-center font-bold mb-4">Integrate Your Favourite Apps</h2>
        <p class="text-base text-center mx-auto mb-6">
            Enhance your workflow by connecting the tools you use daily. Our seamless integrations help you automate tasks and keep everything in sync.
        </p>
        <ul>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
            <li class="integration">
                <Google />
                <div>
                    <h3>Google Sheets</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, delectus.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
    ul {
        gap: 1rem;
        display: grid;
        max-width: 800px;
        margin-inline: auto;
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    }
</style>