<section>
    <div class="wrapper text-center">
        <h2 class="text-2xl font-bold pb-4 md:text-3xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h2>
        <div class="flex flex-wrap items-center justify-center gap-4 py-2 md:gap-8">
            <img src="https://fakelogo.com/api/image/skyfringe.png" alt="Skyfringe" />
            <img src="https://fakelogo.com/api/image/vortexly.png" alt="Vortexly" />
            <img src="https://fakelogo.com/api/image/zenithplex.png" alt="Zenithplex" />
            <img src="https://fakelogo.com/api/image/cinderpoint.png" alt="Cinderpoint" />
            <img src="https://fakelogo.com/api/image/velonix.png" alt="Velonix" />
            <img src="https://fakelogo.com/api/image/quantaflow.png" alt="Quantaflow" />
        </div>
    </div>
</section>

<style>
    img {
        height: 32px;
        opacity: 0.4;
        filter: grayscale(1);

        @container (width < 700px){
            height: 24px;
        }
    }
</style>