---
import { User } from "@lucide/astro"
---

<section>
    <div class="wrapper">
        <h2 class="text-3xl md:text-6xl text-center font-semibold mb-12">What industry experts are saying</h2>
        <ul>
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
            <li class="testimonial">
                <h3>
                    <img src="" alt="">
                    <span>Figma</span>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic nostrum ipsam a reprehenderit maxime, voluptas cumque incidunt minus modi beatae quae pariatur provident labore eaque exercitationem!
                </p>
                <div class="user">
                    <User class="user-icon"/>
                    <div>
                        <h4>Emma Lee</h4>
                        <span>Product Manager, Notion</span>
                    </div>
                </div>
            </li class="testimonial">
        </ul>
    </div>
</section>

<style>
    ul {
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }
</style>